# Node 
node_modules/
npm-debug.log*

# Build outputs
dist/
bundle/

# Script exports
/scripts/out/

# Hardhat artifacts & caches
artifacts/
cache/
coverage/
coverage.json
broadcast/
ignition/deployments/
types/

# Type bindings 
typechain/
typechain-types/

# Env 
.env
.env.*
!*.example
.DS_Store
